---
layout: default
---

{% include language_toggle.html %}

{%- comment -%} Include children_nav.html to add child pages list to content {%- endcomment -%}
{%- capture children_content -%}
{%- include components/children_nav.html -%}
{%- endcapture -%}
{%- assign children_markdown = children_content | markdownify -%}

{% capture content %} {{ content }} {% endcapture %}
<div class="page">
  <nav class="content-nav nav-list js-toc" aria-label="In-page navigation">
    {%- assign full_content = content | append: children_markdown -%}
    {% include toc.html html=full_content sanitize=true item_class="nav-list-item"
    anchor_class="nav-list-link" h_min=1 h_max=3 %}
  </nav>
  <div class="content">{{ content }}{{ children_markdown }}</div>
</div>
